<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-dataset" data-toc-modified-id="Load-dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load dataset</a></span></li><li><span><a href="#Clean-dataset" data-toc-modified-id="Clean-dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Clean dataset</a></span><ul class="toc-item"><li><span><a href="#1)-Filter-and-clean-data-of-interest" data-toc-modified-id="1)-Filter-and-clean-data-of-interest-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>1) Filter and clean data of interest</a></span></li><li><span><a href="#2)-Create-table-of-available-days-by-month-and-listing" data-toc-modified-id="2)-Create-table-of-available-days-by-month-and-listing-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>2) Create table of available days by month and listing</a></span></li><li><span><a href="#3)-Focus-on-listings-&amp;-months-with-low-booking-rate" data-toc-modified-id="3)-Focus-on-listings-&amp;-months-with-low-booking-rate-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>3) Focus on listings &amp; months with low booking rate</a></span></li></ul></li><li><span><a href="#Merge-datasets" data-toc-modified-id="Merge-datasets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Merge datasets</a></span><ul class="toc-item"><li><span><a href="#Merge-listings-and-low_occ" data-toc-modified-id="Merge-listings-and-low_occ-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Merge listings and low_occ</a></span></li></ul></li></ul></div>

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

## Load dataset

In [ ]:
# Load datasets
source="./airbnb_data/"
calendar=pd.read_csv(source+"calendar.csv")
listings=pd.read_csv(source+"listings.csv")

In [ ]:
calendar.head()

## Clean dataset
### 1) Filter and clean data of interest

In [ ]:
print(calendar['metro_area'].unique().tolist())

In [ ]:
# Filter only NYC data
calendar = calendar[calendar['metro_area']=='NYC']

# In 'available' column, change true to 1 and false to 0
calendar['available'] = calendar['available'].apply(lambda x:1 if x == 't' else 0)

# Convert date column to data type date
calendar['date'] = pd.to_datetime(calendar['date'])

calendar.head()

### 2) Create table of available days by month and listing

In [ ]:
# Sum number of days in a month which listing is available for
occupancy = calendar.groupby([pd.Grouper(key='date',freq='M'),'listing_id'])['available'].sum().to_frame()

In [ ]:
occupancy = occupancy.reset_index()

In [ ]:
# Compute number of booked days and occupancy rate
occupancy['booked_days'] = occupancy['date'].dt.day - occupancy['available']
occupancy['occupancy_rate'] = occupancy['booked_days']/occupancy['date'].dt.day
occupancy.head()

### 3) Focus on listings & months with low booking rate
We find that a significant percentage of listings and months are available for almost a full month. That is, the listings are shown as available on the calendar on Airbnb but are not booked at all/have extremely low booking rates. We choose to focus on examining why by exploring their characteristics and identifying patterns.

In [ ]:
# Number of unique listing ids in dataset
print("Number of unique listings: {}".format(len(occupancy['listing_id'].unique().tolist())))

# Percentage of listing months which have 30 or 31 days available i.e. low booking rate
print("% of listing-months with low booking rate: {}".format(len(occupancy[occupancy['booked_days'] == 0])/len(occupancy)*100))

low_occ = occupancy[occupancy['booked_days']==0]
print("Ave # months/listing with low booking rate: {}".format(len(low_occ)/len(low_occ['listing_id'].unique().tolist())))

In [ ]:
low_occ.head()

In [133]:
#low_occ.to_csv(r'./high_avail(month).csv', index = False)
len(low_occ['listing_id'].unique().tolist())

22744

## Merge datasets
(1) Merge listings and low_occ to characterise the listings with low booking rates  
(2) Merge econ_stat and low_occ to characterise months with low booking rates?

### Merge listings and low_occ

In [125]:
listings.head()

,accommodates,amenities,availability_30,bathrooms,bed_type,bedrooms,beds,cancellation_policy,city,has_availability,...,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,room_type,state,weekly_price,zipcode
0,2.0,"{""Cable TV"",""Wireless Internet"",""Air condition...",24,1.0,Real Bed,1.0,1.0,moderate,sunnysidebronx,NaN,...,10.0,10.0,10.0,10.0,100.0,10.0,Private room,NY,NaN,10464
1,4.0,"{TV,Internet,""Wireless Internet"",""Air conditio...",30,1.0,Real Bed,1.0,1.0,flexible,sunnysidebronx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Private room,NY,NaN,10464
2,4.0,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",30,3.0,Real Bed,3.0,3.0,strict,sunnysidebronx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,NY,NaN,10464
3,3.0,"{TV,Internet,""Wireless Internet"",""Air conditio...",8,1.0,Real Bed,1.0,1.0,strict,long island city,NaN,...,10.0,10.0,10.0,10.0,93.0,10.0,Entire home/apt,NY,775.0,10464
4,4.0,"{Internet,""Wireless Internet"",""Air conditionin...",17,1.0,Real Bed,1.0,1.0,moderate,sunnysidebronx,NaN,...,10.0,10.0,10.0,10.0,97.0,10.0,Private room,NY,350.0,10464

In [87]:
print(listings.columns)

Index(['accommodates', 'amenities', 'availability_30', 'bathrooms', 'bed_type',
       'bedrooms', 'beds', 'cancellation_policy', 'city', 'has_availability',
       'host_id', 'id', 'instant_bookable', 'latitude', 'longitude',
       'metropolitan', 'name', 'price', 'property_type',
       'review_scores_checkin', 'review_scores_cleanliness',
       'review_scores_communication', 'review_scores_location',
       'review_scores_rating', 'review_scores_value', 'room_type', 'state',
       'weekly_price', 'zipcode'],
      dtype='object')

In [ ]:
# Drop unnecessary columns
listings_new = listings.drop(['has_availability','availability_30','host_id','name','weekly_price'],axis=1)

In [92]:
# KIV

occupancy_yr = calendar.groupby([pd.Grouper(key='date',freq='Y'),'listing_id'])['available'].sum().to_frame()
occupancy_yr = occupancy_yr.reset_index()
occupancy_yr.head()

        date  listing_id  available
0 2017-12-31        2515        185
1 2017-12-31        2595        244
2 2017-12-31        3647        244
3 2017-12-31        3831         41
4 2017-12-31        4611        118